Makefile
Makefile.in
aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
/ygp-0.1.pc
autom4te.cache/
config/
.deps
.libs
tests/example-deconstructor
tests/example-deconstructor-alt
tests/example-reformatter
tests/example-reformatter-alt
tests/run-dumper
tests/run-emitter
tests/run-loader
tests/run-parser
tests/run-scanner
